  
    @keyframes bgchanger {
        0% {
          background-size: 105%, cover;
        }
    
        100% {
          background-size: 115%, cover;
        }
      }

      @keyframes bgstarschange {
        0% {
          opacity: 0;
        }
    
        100% {
          opacity: 1;
        }
      }
      @keyframes backgroungchanger{
        0%{
            background-size: 100%, cover ;
        }
        100%{
            background-position: -50px, 0px;
        }
    }

    @keyframes starschange{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    