@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    html {
        margin: 0;
        padding: 0;
    }
    .background {
        background-image: url('/assets/Group\ 36.svg');
        animation: 3s infinite alternate bgstarschange;
    }

    .nav {
        width: 85%;
        left: 5%;

        &__list {
            display: none;
        }

        &__lines {
            display: inline-block;
            color: white;
            font-size: 40px;
        }
    }

    .section {
        background-image: url(/assets/Group\ 35.svg), url(/assets/mobile-desktop.svg);
        animation: 3s infinite alternate bgchanger;
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
        background-size: cover, cover;
    }



    .main {
        min-height: fit-content;
        padding-bottom: 100px;

        &__header {
            width: 70%;
        }

        &__div {
            flex-direction: column;
        }

        &__paragraph {
            width: 100%;
        }
    }

    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;

        &__div {
            &__paragraph {
                position: relative;
            }
        }
    }
}