@import "variables";
@import "animations";

@mixin  normal_paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}


body {
	height: 100%;
	margin: 0;
}
html {
	height: 100%;
	margin: 0;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(/assets/Group44.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: 4s infinite alternate starschange;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	gap: 160px;
	position: absolute;
	top: 40px;
	left: 15%;
	&__list {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		list-style: none;
		gap: 60px;
		font-size: 14px;
	}
	&__link {
		text-decoration: none;
		color: $header_color;
		&:hover {
			border-bottom: 2px solid $header_color;
		}
	}
	&__header {
		text-decoration: none;
		color: $header_color;
		font-size: 20px;
	}
	&__lines {
		display: none;
	}
}

.section {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	animation: 4s infinite alternate backgroungchanger;
	background-image: url("../assets/Group\ 33.png"), url("../assets/desktop1.png");
	background-position: center, center;
	background-repeat: no-repeat,no-repeat;
	background-size: cover, cover;
	height: 100%;
	text-align: center;

	&__logo {
		transition: 0.5s ease 0.1s;
		z-index: 3;
		&:hover {
			transform: rotateY(180deg) scale(1.2);
		}
	}

	&__header {
		font-size: 48px;
		text-transform: uppercase;
		color: $header_color;
		font-family: $font-family_2;
	}
	&__subheader {
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
		color: $header2_color;
		font-family: $font-family_3;
	}

}


.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	text-align: center;
	&__header {
		font-family: $font-family_2;
		color: $header3_color;
		font-weight: 700;
		font-size: 48px;
		line-height: 64px;
	}
	&__subheader {
		font-family: $font-family_3;
		color: $header4_color;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
	}
	&__div {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-evenly;
		padding: 0% 15%;
		gap: 2%;
	}
	&__paragraph {
        @include normal_paragraph;
		font-family: $font-family_3;
		text-align: justify;
		width: 43%;
	}
	&__button {
		background: #55C2D8;
		border-radius: 18px;
		border: none;
		color: $header_color;
		text-transform: uppercase;
		font-family: $font-family_2;
		font-size: 14px;
		line-height: 26px;
		padding: 5px 20px;
		margin-top: 20px;
		text-align: center;
		letter-spacing: 0.1em;
		transition: 0.5s ease 0.1s;
		&:hover {
			transform: translate(0px, 10px) rotate(12deg);
		}
	}
}
.information {
	display: flex;
	height: 100%;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(to bottom, rgba(140, 79, 42, 0.3), rgba(140, 79, 42, 0.3)), url(../assets/desktop2.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	&__header {
		font-family: $font-family_2;
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 64px;
		text-align: center;
		margin-top: 50px;
		color: $header_color;
	}
	&__subheader {
		font-family: $font-family_3;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
		color: $header_color;
	}
	&__button {
		background: $button_color;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		color: $header_color;
		font-size: 64px;
		text-align: center;
		border: none;
		padding-left: 20px;
		transition: 0.3s ease 0.1s;
		&:hover {
			transform: scale(0.95);
			background: $header_color;
            color: $button_color;
		}
	}
}
.footer {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	background-image: url("/assets/Rectangle\ 11.png");
	width: 100%;
	height: 150px;
	padding-top: 20px;
	&__div {
        @include normal_paragraph;
		position: relative;
		font-family: $font-family_3;
		text-decoration: none;
		color: $footer_text_color;
		width: 250px;
		&__paragraph {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	&__header {
		font-family: $font-family_3;
		font-weight: 400;
		font-size: 18px;
		line-height: 10px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: $header_color;
		margin: 20px 0px 0px 0px;
	}
	&__paragraph {
		@include normal_paragraph;
		font-family: $font-family_3;
		text-decoration: none;
		font-style: italic;
		color: $footer_text_color;
		&__mail {
			text-decoration: none;
			font-style: normal;
			color: $footer_text_color;
		}
	}
}



@import "mobile";