$header_color: #fff;
$header2_color: rgba(255, 255, 255, 0.7);
$header3_color: #464547;
$header4_color: #666666;
$button_color: #39C2D7;
$footer_text_color: rgba(255, 255, 255, 0.4);
$font-family_1: 'Source Sans Pro';
$font-family_2: 'Oswald', sans-serif;
$font-family_3: 'Source Sans Pro', sans-serif;